## Project 1: NASA's hazardous objects

In [2]:
# Dependencies
import pandas as pd 
import matplotlib.pyplot as plt 
import scipy.stats as st 
import csv

In [3]:
# Data files
objects_path = "./neo_v2.csv"


# Read the data 
objects_data = pd.read_csv(objects_path)
objects_data.head()

,id,name,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,orbiting_body,sentry_object,absolute_magnitude,hazardous
0,2162635,162635 (2000 SS164),1.198271,2.679415,13569.249224,5.483974e+07,Earth,False,16.73,False
1,2277475,277475 (2005 WK4),0.265800,0.594347,73588.726663,6.143813e+07,Earth,False,20.00,True
2,2512244,512244 (2015 YE18),0.722030,1.614507,114258.692129,4.979872e+07,Earth,False,17.83,False
3,3596030,(2012 BV13),0.096506,0.215794,24764.303138,2.543497e+07,Earth,False,22.20,False
4,3667127,(2014 GE35),0.255009,0.570217,42737.733765,4.627557e+07,Earth,False,20.09,True

In [4]:
len(objects_data)

90836

In [5]:
n = objects_data['id'].nunique()
n

27423

In [9]:
unique_df = objects_data.groupby(by = 'id')['miss_distance'].min().reset_index()
x = unique_df['id'].nunique()
x

#objects_data.loc[objects_data['id'] ]

27423